
table {
    border-collapse: collapse;
}
.world {
    height:4px;
    width:4px;
    border:2px solid transparent;
    text-align: center;
}

.world.player {
    border-color:black;
}

.world.player.num0 {
    background-color: red;
}

.world.player.num1 {
    background-color: yellow;
}

.world.space.num0 {
    background-color:green;
}

.world.space.num1 {
    background-color:blue;
}
